<p>Estadisticas:<p>
<label>Preguntas Totales : </label> <%=stats.totalPreguntas%>, de las cuales <%=stats.preguntasComentadas%> tienen comentarios y <%=stats.preguntasNoComentadas%> no lo están. <p>
<label>Comentarios Totales : </label> <%=stats.totalComentarios%> <p>
<label>Promedio de comentarios : </label> <%=stats.promedioComentarios%> por pregunta <p>

